
body {
  font-family: Helvetica;
  font-size: 20px;
  background-color: rgb(244, 248, 249);
}

p {
  display: inline;
}

#tweet {
  width: 40%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 232, 237);
  border-radius: 10px;
  padding: 15px;
}

.account {
  display: inline-block;
  font-weight: bold;
}

.follow {
  float: right;
  border: 1px solid rgb(85, 172, 238);       border-radius: 5px;
  color: rgb(85, 172, 238); 
  font-weight: bold;
  padding: 5px;
}

.useraccount {
  color: rgb(104, 109, 129);
}

.text {
  margin-top:10px;
}

.date {
  color: rgb(101, 116, 127);
  margin-bottom: 10px;
  margin-top: 5px;
}

.numbers {
  color: rgb(105, 120, 130);
}

.actions {
  margin-left: 10px;
}

